.moon{
    background-color: black;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: relative;
}
body{
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.moon::before{
    content: "";
    background-color: #ffff;
    position: absolute;
    display: block;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    z-index: -1;
    animation: animation 3.2s linear infinite alternate;
}
@keyframes animation {
    0%{
        transform: translateX(48px);
        box-shadow: none; 
    }
    50%{
        transform: translate(0px,0px);
        box-shadow: 0 0 10px #ffff,0 0 80px 2px #ffff;
    }
    100%{
        transform: translateX(-40px);
        box-shadow: none;
    }
}